* {
    box-sizing: border-box;
}

.container {
    height: 10vb;
    background-color: #ddd;
    color: white;

}


.header {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

.header ul li a {
    padding: 20px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 10px 0 0 aqua;
}

h2 {
    text-align: center;
    font-size: 50px;
    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #333;
    width: 23%;
    height: 3px;
    top: 90%;
    margin-right: 15px;
    margin-top: 20px;

}

h2::after {
    content: "";
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 70%;
    bottom: 0;
    left: 50%;
    background-color: #333;
    margin-top: 20px;
    animation: infinite change .6s;
    transition: all;

}

@keyframes change {
    from {
        background-color: #333;
    }


    to {
        background-color: aqua;
    }

}

.box-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

i {

    margin-left: 50px;
    color: aqua;
    text-align: center;
}

p {
    color: gray;
    font-size: 10px;
    font-weight: bold;
}

.load-1 {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
    opacity: 2;

}

.load-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

table {
    margin: 20px auto;
    padding: 20px 10px;
    margin-bottom: 10px;
    background-color: #eee;
    color: #333;
    width: 100%;
    height: 80px;


}

thead th {
    background-color: aqua;
    color: #eee;
}

tbody td {
    margin: 5px;
    text-align: center;
    border: 1px solid aqua;
}

.form input {
    display: inline-block;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    border-color: aqua;

}

button {
    border-radius: 30px;
    background-color: aqua;
    color: #333;
    width: 10%;
    height: 30px;
    margin-bottom: 5px;
}

footer {
    height: 5vh;
    background-color: #333;
    color: #eee;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: aqua;
}